html,
body {
  height: stretch;
  margin: 0px;
  background: rgba(0, 0, 0, 0.94);
<<<<<<< HEAD
  text-align: center;
  
}

=======
}
/*
>>>>>>> 6e0ef6cbf85186be402933b050c72135527feeb6
.routeContainer {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  color: white;
}
<<<<<<< HEAD

=======
*/
>>>>>>> 6e0ef6cbf85186be402933b050c72135527feeb6
.HomeText {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.routeContainer nav {
  height: 96px;
  left: 0px;
  top: 0px;
  background: #fca311;
<<<<<<< HEAD
  padding: 10px;
=======
  padding: 0px;
>>>>>>> 6e0ef6cbf85186be402933b050c72135527feeb6
  margin: 0px;
  font-display: inline;
}
ul {
  list-style-type: none;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  display: inline;
<<<<<<< HEAD
  display: grid;
  grid-template-columns: auto auto auto;

=======
>>>>>>> 6e0ef6cbf85186be402933b050c72135527feeb6
  /*
  padding: 0px;
  margin: 250px;
  /* text-align: start; */
}

.RouterLinks li {
  position: relative;
  display: inline;
  float: left;
  width: 150px;
  top: 45px;
  left: 180px;
<<<<<<< HEAD
  display: flex;
  align-items: center;

=======
>>>>>>> 6e0ef6cbf85186be402933b050c72135527feeb6
}

a {
  color: white;
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.categories  {
  position: absolute;
  top: 195px;
  right: 10px;
  font-size: 45px;
}

a:link {
  text-decoration-line: none;
}

.categories {
  position: absolute;
  left: 100px;
}

.container {
  text-align: left;
  list-style-type: none;
  color: white;
}

.categoryBox {
  position: relative;
  width: 700px;
  height: 50px;
  left: 115px;
  top: 45px;
  background: #14213d;
  border-radius: 67px;
}

.container h1 {
  position: absolute;
  left: 45px;
  top: -15px;
}

.RouterLinks h1 {
  color: white;
}
.routeContainer img {
  position: absolute;
  width: 100px;
  height: 62px;
  left: 20px;
  top: 22px;
}

/* display none i container threads här under ska tas bort för att visa namnet på trådarna*/
.container .threads {
 display: none;
}

.ContactInfo {
  color: white;
}

.Navbar {
  position: absolute;
  width: 1440px;
  height: 96px;
  left: 0px;
  top: 0px;

  background: #fca311;
}
<<<<<<< HEAD
title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
 }
=======
>>>>>>> 6e0ef6cbf85186be402933b050c72135527feeb6
